[MESSAGES CONTROL]
disable=
    W0703,  # Catching too general exception Exception
    R1705,  # Unnecessary "else" after "return"
    W0702,  # No exception type(s) specified
    R0912,  # Too many branches
    R0915,  # Too many statements
    C0413,  # Import "from module import *" should be placed at the top of the module
    F0010,  # error while code parsing: Unable to load file
    R0401,  # Cyclic import
    R1720,  # Unnecessary "elif" after "return"
    R1710,  # Either all return statements in a function should return an expression, or none of them should.
    E1133,  # Non-iterable value passed to an iterator's __next__ method
    E1135,  # Non-iterator passed to iter

[FORMAT]
max-line-length=210